{% extends "layouts/layout.html" %}
{% block head %} {{super()}} 

{% endblock %} 

<body>
	{% block nav %} {{super()}} {% endblock %} 
    {% block content %}
    <div class="GameContent">
        <div id="leagueContent">
            <a href="/league"><img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Soraka_7.jpg" width="300" height="220" alt="League of Legends"></img></a>
            <a href="/rocketleague"><img src="https://cdn2.unrealengine.com/egs-rocketleague-psyonixllc-s2-1200x1600-b1aecb2c82d9.jpg" width="300" height="220" alt="rocket league"></a>
            <a href="/valorant"><img src="https://images.livemint.com/img/2020/06/03/600x338/Valorant_1591218052835_1591218061187.jpg" width="300" height="220" alt="Valorant"></a>
        </div>
        <div id="rocketLeague">
           
        </div>
    </div>


    {% endblock %}
</body>
</html>